/*預設*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

/* 手風琴 */
.accordion{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.accordion>div{
    width: 100%;
}
.accordion>div>p{
    display: none;
}

/* 寬度排版 */
.row{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-auto{
    width: auto;
}
.col-1{
    flex: 0 0 calc(100%/12);
}
.col-2{
    flex: 0 0 calc(100%/6);
}
.col-3{
    flex: 0 0 25%;
}
.col-4{
    flex: 0 0 calc(100%/3);
}
.col-5{
    flex: 0 0 calc(100%/12*5);
}
.col-6{
    flex: 0 0 50%;
}
.col-7{
    flex: 0 0 calc(100%/12*7);
}
.col-8{
    flex: 0 0 calc(100%/1.5);
}
.col-9{
    flex: 0 0 75%;
}
.col-10{
    flex: 0 0 calc(100%/1.2);
}
.col-11{
    flex: 0 0 calc(100%/12*11);
}
.col-12{
    flex: 0 0 100%;
}
