<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge"
    >
    <title></title>
    <link
        rel="stylesheet"
        href="../css/map.css"
    >
</head>

<body>
    <header class="header"></header>
    <main>
        <section v-for="i in menu">
            <div class="area">
                <h1>{{i.area}}</h1>
                <div class="county">
                    <div
                        class="item"
                        v-for="ii,index in i.county"
                    >
                        <a href="">
                            <div class="item_img">
                                <img :src="'../img/0'+ [index] + '.jpg'">
                            </div>
                        </a>
                        <a href="">
                            <div class="item_text">
                                <h2>{{ii}}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/preset.js"></script>
    <script src="../js/map.js"></script>
</body>

</html>